# Team Pandas Dataframe

In [2]:
# imports
import pandas as pd
import numpy as np
import datetime

---

### Kombat 1: How to create a series from a list, numpy array and dict?

Create a pandas series from each of the items below: a list, numpy and a dictionary

In [3]:
# Your code 

mylist = list('fghij')
myarr = np.arange(5,10)
mydict = dict(zip(mylist, myarr))

In [4]:
# Solution
mylistserie=pd.Series(mylist)
myarrserie=pd.Series(myarr)
mydictserie=pd.Series(mydict)

print(mylistserie)
print(myarrserie)
print(mydictserie)

0    f
1    g
2    h
3    i
4    j
dtype: object
0    5
1    6
2    7
3    8
4    9
dtype: int64
f    5
g    6
h    7
i    8
j    9
dtype: int64

---

### Kombat 2: How to combine many series to form a dataframe?

Combine ser1 and ser2 to form a dataframe.

In [24]:
# Your code

ser1 = pd.Series(list('klmnopqrst'))
ser2 = pd.Series(np.arange(10))

In [26]:
# Solution
df = pd.DataFrame(ser1)
df['1'] = ser2.values
df

   0  1
0  k  0
1  l  1
2  m  2
3  n  3
4  o  4
5  p  5
6  q  6
7  r  7
8  s  8
9  t  9

---

### Kombat 3: How to get the items not common to both series A and series B?

Get all items of ser1 and ser2 not common to both.

In [39]:
# Your code
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [40]:
# Solution
a= ser1[ser1.isin(ser2) == False]
b= ser2[ser2.isin(ser1) == False]
notcommontoboth = pd.concat([a,b])
notcommontoboth

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

---

### Kombat 4: How to extract items at given positions from a series

From ser, extract the items at positions in list pos.

In [43]:
# Your code

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [45]:
# Solution

items = ser.loc[pos]
items

0     a
4     e
8     i
14    o
20    u
dtype: object

---

### Kombat 5: How to create a TimeSeries starting ‘2022-01-01’ and 10 weekends (saturdays) after that, having random numbers as values?

In [51]:
# Your code

time_series = pd.Series(np.random.randint(1, 10, 10), )

In [52]:
# Solution

array = pd.Series(pd.date_range("2022-01-01", freq="w", periods=10))
time_series = pd.Series(np.random.randint(1, 10, 10),index = array)

time_series

2022-01-02    9
2022-01-09    4
2022-01-16    4
2022-01-23    5
2022-01-30    6
2022-02-06    3
2022-02-13    4
2022-02-20    8
2022-02-27    5
2022-03-06    3
dtype: int64

---

### Kombat 6: How to import only every nth row from a csv file to create a dataframe?

Import every 50th row of BostonHousing dataset as a dataframe.

In [63]:
# Your code

url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

df=pd.read_csv(url)

In [65]:
# Solution

df2=df.loc[0::50]
df2

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0,0.439,5.963,45.7,6.8147,4,243,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0,0.520,6.727,79.9,2.7778,5,384,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0,0.871,6.122,97.3,1.6180,5,403,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0,0.403,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0,0.431,6.487,13.0,7.3967,7,330,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0,0.429,6.490,44.4,8.7921,1,335,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8

---

### Kombat 7: How to import only specified columns from a csv file?

Import ‘crim’ and ‘medv’ columns of the BostonHousing dataset as a dataframe.

In [68]:
# Your code

url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

df=pd.read_csv(url,usecols=['crim','medv'])

In [69]:
# Solution 

df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

---

### Kombat 8: How to slice a DataFrame by column value?

Get every Ford car with a Horsepower greater than 100 from the Cars93 dataset.

In [70]:
# Your code

url = 'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv'

cars=pd.read_csv(url)

In [72]:
# Solution
cars=cars[cars['Horsepower'] < 100.0]
cars

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
22,Dodge,Colt,Small,7.9,9.2,10.6,29.0,33.0,None,Front,...,5.0,174.0,98.0,66.0,32.0,NaN,11.0,2270.0,USA,Dodge Colt
23,Dodge,Shadow,Small,8.4,11.3,14.2,23.0,29.0,Driver only,Front,...,5.0,172.0,97.0,67.0,38.0,26.5,NaN,2670.0,USA,Dodge Shadow
28,Eagle,Summit,Small,7.9,12.2,16.5,29.0,33.0,None,Front,...,5.0,174.0,98.0,66.0,36.0,26.5,11.0,2295.0,USA,Eagle Summit
30,Ford,Festiva,Small,6.9,7.4,7.9,31.0,33.0,NaN,Front,...,4.0,141.0,90.0,63.0,33.0,26.0,12.0,1845.0,USA,Ford Festiva
32,Ford,Tempo,Compact,10.4,11.3,12.2,22.0,27.0,None,Front,...,5.0,177.0,100.0,68.0,NaN,27.5,13.0,NaN,USA,NaN
38,Geo,Metro,Small,6.7,8.4,10.0,46.0,50.0,None,Front,...,4.0,151.0,93.0,63.0,34.0,27.5,10.0,1695.0,non-USA,Geo Metro
39,Geo,Storm,Sporty,11.5,12.5,13.5,30.0,36.0,Driver only,Front,...,4.0,164.0,97.0,NaN,37.0,24.5,11.0,2475.0,non-USA,Geo Storm
43,Hyundai,Excel,Small,6.8,8.0,9.2,29.0,33.0,None,Front,...,5.0,168.0,94.0,63.0,35.0,26.0,11.0,2345.0,non-USA,Hyundai Excel
45,Hyundai,Scoupe,NaN,9.1,10.0,11.0,26.0,34.0,None,Front,...,4.0,166.0,94.0,64.0,34.0,23.5,9.0,2285.0,non-USA,NaN
52,Mazda,323,Small,7.4,8.3,9.1,29.0,37.0,None,Front,...,4.0,164.0,97.0,66.0,34.0,27.0,16.0,2325.0,non-USA,Mazda 323
61,Mitsubishi,Mirage,Small,7.7,10.3,12.9,29.0,NaN,None,Front,...,5.0,172.0,98.0,67.0,36.0,26.0,11.0,2295.0,non-USA,Mitsubishi Mirage
71,Plymouth,Laser,Sporty,11.4,14.4,17.4,NaN,30.0,None,4WD,...,4.0,173.0,97.0,67.0,39.0,24.5,8.0,2640.0,NaN,Plymouth Laser
72,Pontiac,LeMans,Small,NaN,9.0,9.9,31.0,41.0,None,Front,...,4.0,177.0,99.0,66.0,35.0,25.5,17.0,2350.0,USA,Pontiac LeMans
78,Saturn,SL,Small,9.2,NaN,12.9,NaN,38.0,Driver only,Front,...,5.0,176.0,102.0,68.0,40.0,26.5,NaN,2495.0,USA,Saturn SL
79,Subaru,Justy,Small,7.3,8.4,9.5,33.0,37.0,None,4WD,...,4.0,146.0,90.0,60.0,32.0,23.5,10.0,2045.0,non-USA,Subaru Justy
80,Subaru,Loyale,Small,10.5,10.9,11.3,25.0,30.0,None,4WD,...,5.0,175.0,97.0,65.0,35.0,27.5,15.0,2490.0,non-USA,Subaru Loyale
82,Suzuki,Swift,NaN,7.3,8.6,NaN,39.0,43.0,None,Front,...,4.0,161.0,93.0,NaN,34.0,27.5,10.0,1965.0,non-USA,Suzuki Swift
83,Toyota,Tercel,Small,NaN,9.8,11.8,32.0,37.0,Driver only,Front,...,NaN,162.0,94.0,NaN,36.0,24.0,11.0,2055.0,non-USA,Toyota Tercel
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox

---

# FINISH HIM!!!